body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 18px;
}

@media only screen and (min-width: 415px) {
  html {
      font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  html {
      font-size: 21px;
  }
}

@media only screen and (min-width: 1100px) {
  html {
      font-size: 22px;
  }
}

@media only screen and (min-width: 2400px) {
  html {
      font-size: 31px;
  }
}

/* Full width, 10vh, no scaling other than that necessary */
.header {
  width: 100vw;
  background: #663333;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2vh 2vw;
  min-height: fit-content;
  height: 10vh;
}

.nulCont {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:left;
  width: 80vw;
}

/* Bottom of page */
.footer {
  width: 100vw;
  height: 10vh;
  background: #663366;
  box-sizing: border-box;
  padding: 2vh 2vw;
}

/* NUL character needs to be larger than title */
.nul {
  font-size: 5.5rem;
}

/* Sizing of title text */
.title {
  font-size: 4rem;
}