body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 18px;
}

@media only screen and (min-width: 415px) {
  html {
      font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  html {
      font-size: 21px;
  }
}

@media only screen and (min-width: 1100px) {
  html {
      font-size: 22px;
  }
}

@media only screen and (min-width: 2400px) {
  html {
      font-size: 31px;
  }
}

/* Full width, 10vh, no scaling other than that necessary */
.header {
  width: 100vw;
  background: #663333;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 2vh 2vw;
  min-height: fit-content;
  height: 10vh;
}

/* Messages container, flexbox column for messages moving down */
.messages {
  width: 100vw;
  height: 80vh;
  background: #444444;
  padding: 0vh 2vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  box-sizing: border-box;
}

/* Specific message formatting */
.message {
  width: 100%;
  height: auto;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
}

/* Format user screen-name */
.user {
  color: #AA5555;
  margin-right: 5px;
}

/* Bottom of page */
.footer {
  width: 100vw;
  height: 10vh;
  background: #663366;
  box-sizing: border-box;
  padding: 2vh 2vw;
}

/* Main input and send button container */
.compose {
  width: 100%;
  height: 3rem;
  background: #333366;
  color: white;
  border: #663333 solid 2px;
  box-sizing: border-box;
  padding: 5px 5px 5px 20px;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
}

/* Input window for message */
input {
  width: 100%;
  height: 100%;
  background: #333366;
  color: white;
  border-width: 0px;
  border: none;
  font-size: 1rem;
}

/* No blue focus when typing a message */
input:focus {
  outline: none!important;
}

/* Specific formatting for send button */
.send {
  height: 2.3rem;
  width: fit-content;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 2.3rem;
  min-width: fit-content;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  background: url("http://localhost:3000/send.png") no-repeat center;
  background-color: white;
  background-size: 80%;
}

/* NUL character needs to be larger than title */
.nul {
  font-size: 5.5rem;
}

/* Sizing of title text */
.title {
  font-size: 4rem;
}